@model ProjectSetupV2.Models.Context.MainViewModel

@{
    ViewData["Title"] = "Timesheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Timesheet</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            
        </div>
    </div>
</div>